doctype html
html(lang="en", ng-app="redditClient")
  include head
    // Navigation
  //- include nav
    // Page Header
  body
    header.masthead(style="background-image: url('img/post-bg.jpg')")
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .site-heading
              h1 Preview
              span.subheading Latest From Reddit
    // Main Content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          each post in posts
            .post-preview
              a(href="/post?r="+post.data.subreddit+"&id="+post.data.id).post-con
                h2.post-title
                  | #{post.data.title}
                h3.post-subtitle
                  | #{post.data.subreddit}
                //- img(src=post.data.thumbnail, alt="")
              p.post-meta
                span
                  | Posted by
                  a(href="#")  #{post.data.author}
                span
                  | on #{new Date(post.data.created_utc*1000).toString().slice(0,15)}
                span.items-meta.pull-right
                  //- span
                    i.fa.fa-thumbs-up(aria-hidden="true")
                    | #{post.data.likes}
                  span
                    i.fa.fa-comments-o(aria-hidden="true")
                    | #{post.data.num_comments}
                  span
                    i.fa.fa-level-up(aria-hidden="true")
                    | #{post.data.score}
            hr
          // Pager
          .clearfix
    hr
    // Footer
    include footer
